{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.14.2"},
    {epgsql, "4.8.0"},
    {poolboy, "1.5.2"},
    {hackney, "1.25.0"}
]}.

%% this is a small workaround to bypass rebar issues
%% with cowboy, hex.pm and symver.
%% This only required if dependencies specified via hex.pm format.
{overrides, [
    {override, cowboy, [{deps, [cowlib, ranch]}]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [eatq]}
]}.
